# Android Studio
.idea/
*.iml
out/

# Gradle
.gradle/
build/

# Android build
/app/build/

# Kotlin and Java
*.class
*.log

# Local configuration file
local.properties

# OS-specific files
.DS_Store
Thumbs.db

# Dependency directories
/node_modules/

# Testing
/coverage/

# Logs
*.log

# Virtual environment
venv/
__pycache__/