# Android Studio
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Gradle files
*.gradle
/buildScan/

# Android specifics
bin/
gen/
out/

# Dependency directories
node_modules/

# Logs
*.log

# Environment files
.env

# Test reports
test-results/
coverage/